<a href="https://colab.research.google.com/github/zxc741xb/diamond_regression/blob/main/daimond_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving diamonds.csv to diamonds.csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['diamonds.csv']), index_col=0)

In [ ]:
df.corr()

          carat     depth     table     price         x         y         z
carat  1.000000  0.028224  0.181618  0.921591  0.975094  0.951722  0.953387
depth  0.028224  1.000000 -0.295779 -0.010647 -0.025289 -0.029341  0.094924
table  0.181618 -0.295779  1.000000  0.127134  0.195344  0.183760  0.150929
price  0.921591 -0.010647  0.127134  1.000000  0.884435  0.865421  0.861249
x      0.975094 -0.025289  0.195344  0.884435  1.000000  0.974701  0.970772
y      0.951722 -0.029341  0.183760  0.865421  0.974701  1.000000  0.952006
z      0.953387  0.094924  0.150929  0.861249  0.970772  0.952006  1.000000

In [ ]:
print(df.head())

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
df.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [ ]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [ ]:
cut_class_dict = {'Fair':1, 'Good':2, 'Very Good':3, 'Premium':4, 'Ideal':5}
clarity_dict = {'I1':1, 'SI2':2, 'SI1':3, 'VS2':4, 'VS1':5, 'VVS2':6, 'VVS1':7, 'IF':8}
color_dict = {'J':1, 'I':2, 'H':3, 'G':4, 'F':5, 'E':6, 'D':7}

df['cut'] = df['cut'].map(cut_class_dict)
df['clarity'] = df['clarity'].map(clarity_dict)
df['color'] = df['color'].map(color_dict)

df.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
1   0.23    5      6        2   61.5   55.0    326  3.95  3.98  2.43
2   0.21    4      6        3   59.8   61.0    326  3.89  3.84  2.31
3   0.23    2      6        5   56.9   65.0    327  4.05  4.07  2.31
4   0.29    4      2        4   62.4   58.0    334  4.20  4.23  2.63
5   0.31    2      1        2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

data = df.drop('price', axis=1).values
data = preprocessing.scale(data)
target = df['price'].values

data_train, data_test, target_train, target_test = train_test_split(data, target, test_size=0.2)
regr = LinearRegression()
regr.fit(data_train, target_train)

print('regr_train_score = ', regr.score(data_train, target_train).round(3))
print('regr_test_score = ', regr.score(data_test, target_test).round(3))

regr_train_score =  0.907
regr_test_score =  0.909

In [ ]:
prediction = regr.predict(data_test)
df = pd.DataFrame({'actual':target_test, 'predicted': prediction})
print(df)

       actual     predicted
0        6830   8134.619294
1        1895   1933.885120
2        9930   8430.929218
3        3465   3360.841394
4         886    994.335080
...       ...           ...
10783    9600   9794.557877
10784   12737  11688.970579
10785    1561   1766.540316
10786    5975   5181.070212
10787   10742   8061.097932

[10788 rows x 2 columns]